{%extends 'base.html'%}
{%load static%}
{% block body_block%}


<div class="carousel-inner">
    <div class="carousel-item active" style="max-height: 500px;">
        <img class="w-100 h-75" src="{%static 'img/responsive-application.webp' %}" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3">
                <h2 class="display-6 text-white mb-md-4 animated zoomIn">Terms And Conditions</h2>
                <h3 class="text-warning text-uppercase mb-3 animated slideInDown">Embrace Our Terms for Seamless Connectivity</h3>
                <a href="{%url 'contact' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Consultation</a>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <p>We care about the information shared by you. This Privacy policy describes how we collect and process your personal information.

        By using our website, you agree that your personal information (including sensitive personal information) can be used under this Privacy policy notice. This notice can be amended from time to time by us at our discretion. Personal information subject to this Privacy Notice will be collected and retained by us only.
        
        We can collect your personal information to provide and continually improve our products. We can automatically collect and store certain types of information about your use of this website, including information about your interaction with the pages available on this website. Like many websites, we also use cookies. To recognize your browser or device and to provide and improve services, we use cookies and other identifiers. We might also receive information about you from other sources, like when you submit to contact us information.</p>


</div>



{%endblock%}